# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Poetry
poetry.lock

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/

# MyPy
.mypy_cache/

# Logs
*.log