.messageBox {
  padding: 0.5em;
  margin: 0.5em;
}

.messageBoxLeft {
  margin-right: 5em;
}

.messageBoxRight {
  margin-left: 5em;
}

.messageCloud {
  border-radius: 0.5em;
  border: #BBB solid 1px;
  padding: 0.5em;
}

.messageHeader {
  font-size: 0.6em;
  color: #444;
  padding-left: 0.5em;
  font-weight: bold;
  text-transform: uppercase; 
}

.user01 {
  background-color: #BBF;
  border: #88B solid 1px;
}

.user02 {
  background-color: #BFB;
  border: #8B8 solid 1px;
}

