.messageBox {
  padding: 0.5em;
  margin: 0.5em;
  color: #000;
}

.messageBoxLeft {
  margin-right: 5em;
}

.messageBoxRight {
  margin-left: 5em;
}

.messageCloud {
  border-radius: 0.5em;
  border: #BBB solid 1px;
  padding: 0.5em;
}

.messageHeader {
  font-size: 0.6em;
  color: #fff;
  padding-left: 0.5em;
  font-weight: bold;
  text-transform: uppercase; 
}

.messageFooter {
  font-size: 0.6em;
  color: #999;
  padding-right: 0.5em;
  text-transform: uppercase; 
  text-align: right;
}

.user01 {
  background-color: #dec583;
  border: #7e704a solid 1px;
  color: #000;
}

.user02 {
  background-color: #000;
  border: #dec583 solid 1px;
  color: #dec583;
}
