.submitButton {
  padding: 0.5em;
  margin-top: 0.5em;
  background-color: #a83300;
  border: #772501 solid 1px;
  border: none;
  border-radius: 0.5em;
}

.chatButtonContainer {
  display: inline-block;
  padding: 0.25em 0.5em;
}