.mainContainer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.previewContainer {
  flex: 1;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.chatContainer {
  flex: 1;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  position: relative;
}